* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.titulo {
	text-align: center;
	color: #181fad;
	font-size: 25px;
}
input{
	font-size: 14px;
}
body {
	background-image: url(fondo1.jpg);
	font-family: 'Gamja Flower', cursive; 
	border-top: 30px solid #303F9F;
}

.wrap {
	width: 90%;
	max-width: 500px;
	padding: 40px;
	margin: auto;
	background: #fff;
	box-shadow: 0px 0px 3px grey;
}

.contenedor-formulario {
	width: 100%;
	color: #f2f2f2;
	padding: 50px;
}

.contenedor-formulario.formulario {
	width: 100%;
	margin: auto;
}

.contenedor-formulario .formulario .input-group {
	position: relative;
	margin-bottom: 32px;
}

.contenedor-formulario .formulario .input-group input[type="text"],
	.contenedor-formulario .formulario .input-group input[type="email"],
	.contenedor-formulario .formulario .input-group input[type="password"]
	{
	font-family: "Roboto";
	font-size: 19px;
	color: #514d4e;
	width: 100%;
	outline: none;
	padding: 15px;
	background: none;
	border: none;
	border-bottom: 2px solid #a0a3e5;
}

.contenedor-formulario .formulario .input-group input[type="text"]:focus,
	.contenedor-formulario .formulario .input-group input[type="text"]:active,
	.contenedor-formulario .formulario .input-group input[type="email"]:focus,
	.contenedor-formulario .formulario .input-group input[type="email"]:active,
	.contenedor-formulario .formulario .input-group input[type="password"]:focus,
	.contenedor-formulario .formulario .input-group input[type="password"]:active
	{
	outline: none;
	border-bottom: 2px solid #595fd8;
}

.contenedor-formulario .formulario .input-group input[type="text"].error,
	.contenedor-formulario .formulario .input-group input[type="email"].error,
	.contenedor-formulario .formulario .input-group input[type="password"].error
	{
	border-bottom: 2px solid #a0a3e5;
}

.contenedor-formulario .formulario .input-group input[type="text"].error+label,
	.contenedor-formulario .formulario .input-group input[type="email"].error+label,
	.contenedor-formulario .formulario .input-group input[type="password"].error+label
	{
	color: #a0a3e5;
}

.contenedor-formulario .formulario .input-group label {
	color: #595fd8;
}

.contenedor-formulario .formulario .input-group label.label {
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin-left: 15px;
	font-size: 19px;
	line-height: 16px;
	position: absolute;
	top: 16px;
	left: 0;
}

.contenedor-formulario .formulario .input-group label.label.active {
	top: -12px;
	font-size: 16px;
	line-height: 12px;
	color: #58585d;
}

.contenedor-formulario .formulario .input-group.checkbox label,
	.contenedor-formulario .formulario .input-group.radio label {
	display: inline-block;
	cursor: pointer;
	color: #595fd8;
	position: relative;
	padding: 5px 15px 5px 51px;
	font-size: 1em;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.contenedor-formulario .formulario .input-group.checkbox label:hover,
	.contenedor-formulario .formulario .input-group.radio label:hover {
	background: #fff;
}

.contenedor-formulario .formulario .input-group.checkbox label:before,
	.contenedor-formulario .formulario .input-group.radio label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: 15px;
	border-radius: 50%;
	background: none;
	border: 2px solid #a0a3e5;
	font-size: 14pt;
}

.contenedor-formulario .formulario .input-group.error label {
	color: #D32F2F;
}

.contenedor-formulario .formulario .input-group.error label:hover {
	background: rgba(211, 47, 47, 0.2);
}

.contenedor-formulario .formulario .input-group.error label:before {
	border: 2px solid #fff;
}

.contenedor-formulario .formulario .input-group.radio input[type="radio"]
	{
	display: none;
}

.contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked+label:before
	{
	display: none;
}

.contenedor-formulario .formulario .input-group.radio input[type="radio"]:checked+label
	{
	padding: 5px 15px;
	background: #f76544;
	border-radius: 2px;
	color: #f2f2f2;
	font-size: 8pt;
}

.contenedor-formulario .formulario .input-group.checkbox label:before {
	border-radius: 3px;
}

.contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]
	{
	display: none;
}

.contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked+label:before
	{
	display: none;
}

.contenedor-formulario .formulario .input-group.checkbox input[type="checkbox"]:checked+label
	{
	background: #a0a3e5;
	color: #f2f2f2;
	padding: 5px 15px;
}

.contenedor-formulario .formulario input[type="submit"] {
	background: #a0a3e5;
	border-radius: 1px;
	border: 2px solid #f2f2f2;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Roboto";
	font-size: 19px;
	padding: 15px;
	width: 100%;
	-webkit-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.contenedor-formulario .formulario input[type="submit"]:hover {
	background: #cccde8;
}

.tabla {
	border-collapse: collapse;
	margin: 30px auto;
    width: 400px;
}

tr:nth-of-type(odd) {
	background: #fca765;
}

th {
	background: #fca765;
	color: white;
	font-weight: bold;
}

td, th {
	padding: 6px;
	border: 1px solid #ccc;
	text-align: center;
}
footer {
	position: relative;
	margin-top: 50px;
	height: 60px;
	padding: 5px 0px;
	clear: both;
	background: #8282f8;
	text-align: center;
	color: black;
}